.headerContainer{
  position: fixed;
  height: 70px;
  padding: 10px 25px;
  width: 100%;
  border-bottom: 1px solid #d7d7e9;
  background: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.container {
  min-height: 100vh;
}

.mainContainer{
  display: flex;
  width: 100%;
  padding-top: 70px;
}

.leftContainer{
  border-right: 1px solid #d7d7e9;
  padding: 15px 25px;
  width: 20%;
  box-sizing: border-box;
  position: fixed;
}

.rightContainer{
  width: 80%;
  margin-left: 20%;
}

.cardContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.mb30{
  margin-bottom: 30px;
}

.textCenter{
  text-align: center;
}

.inline{
  display: inline;
}