
$blue-color: #4e93cb;
$btn-red-color: #c73f2a;
$btn-blue-color: #62ace9;
$border-grey-color: #d7d7e9;
$black-text-color: #333;

:export {
    borderGreyColor: $border-grey-color;
    blackTextColor: $black-text-color;
}